{% extends "layouts/base.html" %}

{% block title %} UI Icons {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="title">Plataformas Disponibles</h3>
          </div>
          <div class="card-body all-icons">
            <div class="row">
              {% for plataform in plataforms %}
                <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                  <div class="font-icon-detail">
                    <img class="mb-2" src="{{ plataform.icon.url }}" style="width:170px;height:200px;"/>
                    <h4>{{ plataform.name }}</h4>
                    <p>$ {{ plataform.price }} </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}

